

*{
    margin: 0;
    padding: 0;
}

.homepage {
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;


}

.firstheading {
    font-size: 96px;
    font-weight: bold;
    
    text-align: center;

}

.firstdis {
    font-size: 20px;
    font-weight: inherit;
    margin-top:2%;
    text-align: center;
    





}

.btn {
    border-radius: 30px;
    font-size: 30px;
   
    text-decoration: none;
    padding: 13px 33px;
    margin-top: 2%;
    background-color: rgba(8, 113, 173, 0.822);
    color: whitesmoke;

}

.btnbox {
    margin-top: 5%;
}

.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 3px rgb(245, 243, 243);
    display: flex;
    height: 75px;
    border-bottom: rgb(245, 243, 243) ;
    justify-content: space-evenly;
    
                
}

.logo{
    width: 60px;
    height: 53px;
}
.z1{
    margin-left: -30%;
}
.z2{
    margin-right: -30%;
}
.z3{
    margin-left: -43%;
}
    
li,a,button{
    font-weight: 500;
    font-size: 16px;
    color: gray;
    text-decoration: none;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;

}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    color: #0088a9;
    border-radius: 50px;
    border: #0088a9;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-color:  #0088a9;
    

    
}
button:hover{
    background-color:#0088a9 ;
    color: white;
}
.webname{

    font-size: 30px;
    font-weight: inherit;
   

}
.image{
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
margin: 8%;
}
.afim{
    margin-top: -20.4%;
    background-color: rgb(20, 52, 142);
    height: 550px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.myh3{
    padding-top: 250px ;
    font-weight: bold;
    font-size:53px;
    text-align:start;
    padding-left: 10px;
   
}
.myp2{
    padding-top: 260px;
    font-weight:-10;
    font-size: 25px;
    padding-right: 25px;
   }
.started{
    font-size: 30px;
    color: white;
    font-weight: 500;
    

    
}
.bcont{
    display: flex;
    
       margin: 0;
    padding: 0;
    align-items:center;
}
.cont{
    
    background-color: rgb(3, 89, 70);
    
    color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.box{
    display: flex;
    flex-direction: column;
    padding: 50px;
min-width: 500px;
}
.v{
    width: 93%;
}
  
.w{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.w1{
    display: flex;
    justify-content: center;
    margin-top: 8%;
   

}
.w2{
    margin-top: 5%;
   
}
.w3{
    font-size: 27px;
    color: #fff;
}
.v1{
    margin-top: 3%;
    font-size: 22px;

}
.v2{
    margin-top: 3%;
    font-size: 20px;}
.a{
    font-weight: bold;
    font-size: 50px;
   

}
.b{
    font-size: 23px;
  
  
}
.img2{
   width: 560px;
   height: 440px;
    align-items: center;
}
.container2{
    background-color: rgb(244,244,244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;

}
.c1{
    font-size: 55px;
  
    text-align: center;
    font-weight: bold;
}
.d1{
    font-size: 23px;
    
    text-align: center;
    margin-top: 2%;

}
.e{
   
    text-align: center;
    margin-top: 2%;
}

    
.e1{
    font-size: 27px;
   
    color: black;
    font-weight: bold;
}
.e1:hover{
    color: #0088a9;
}
.contin{
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    background-color: rgb(244,244,244);
    padding-top: 150px;
    height: 150px;
    align-items: center;

}
.f{
    text-align: center;
}
.g{
    width: 84%;
    height: 85%;
}
.h{
    font-size: 20px;
    margin-top: -10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.contin2{
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    background-color: rgb(244,244,244);
    
    height: 550px;
    align-items: center;

}
.i{
    display: flex;
    justify-content: center;

}
.img3{
    width: 480px;
    height: 564px;
}
.j{
 
    padding-top: 100px;
}
.k{
    padding-left: 130px;
    padding-top: 220px;
}
.k1{
    font-size: 52px;
    font-weight: bold;

}
.k2{
    font-size: 20px;
  
    margin-top: 6%;
    margin-left: 1%;

}
.k3{
    margin-left: 1%;
    margin-top: 10%;
}
.k31{
    font-size: 30px;
    font-weight: bold;
    
    color: black;
}
.k31:hover{
    color: #0088a9;
}
.Bigcontainer{
    display: flex;
    margin-top: 150px;
    justify-content: center;
 
}
.l{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}


.l4d{
    width: 480px;
    height: 480px;

}
.l1a{
    font-size: 50px;
    font-weight: bold;
    padding-left: 15%;
    text-align: left;
}
.l1b{
    font-size: 26px;
    padding-left: 15%;
    padding-top: 5%;
}
.l2b{
    font-size: 26px;
    padding-left: 8%;
    padding-top: 5%;
}
.l1c{
    font-size: 30px;
    padding-left: 15%;
    padding-top: 5%;
}
.l2c{
    font-size: 30px;
    padding-left: 8%;
    padding-top: 5%;
}
.l1a1{
    font-size: 50px;
    font-weight: bold;
    padding-left: 8%;
    text-align: left;
}
.l4d1{
    width: 480px;
    height: 480px;
    padding-left: 6.2%;

}
.lcc{
    font-size: 30px;
    font-weight: bolder;
    color: #000;
}.lcc:hover{
    color: #0088a9;
}
.M{
    margin-top: 80px;
    padding-left: 7.4%;
}
.m1{
    font-size: 23px;
}
.m2{
    font-size: 47px;
    margin-top: 3%;
}
.m11{
    width: 53%;
    margin-left: 39%;
    margin-top: -0.8%;
    
}
.iimag{
    width: 480px;
    height: 304px;
    
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}
.text{
    font-size: 23px;
    margin-top: -2%;
}
.text2{
    font-size: 15px;
    margin-top: 3%;
}
.firsta{
    margin-top: 100px;
    margin-left: -2%;
}
.firstb{
    margin-top: 180px;
    padding-right:8%;

}
.a1a{
    margin-left: 8.8%;
    margin-top: -5%;
}
.a1b{
    margin-top: 2%;
    display: flex;
}
.a1c{
    font-size: 15px;
color: #0088a9;
}
.a11c{
    color: #0088a9;
}
.iimag1{
    width: 600px;
    height: 961px;
    margin-left: 0;
}
.o{
  
    
    padding: 0;
    
}
.oo{
    display: flex;
    justify-content: flex-start;
    margin-top: 160px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    background-color: rgb(244,244,244);
    margin-top:3.8%;
    width: 42.5%;
    height: 961px;
  margin-right: -2%;

  
}
.p1{
    font-size: 47px;
    font-weight: bold;
    margin-left: -8%;
}
.p2{
    font-size: 25px;
    margin-top: 3%;
    margin-left: -8%;
}
.p3{
    margin-top: 3%;
    margin-left: -8%;
}
.p4{
    font-size: 30px;
    color: black;
    font-weight: bolder;
}
.q{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 52, 142);
    color: white;
   margin-top: -4.2%;
   padding: 15%;
}
.q1{
    font-size: 55px;
    font-weight: bold;
}
.q2{
    font-size: 22px;
    margin-top: 3%;
}
.q3{
    font-size: 19px;
    margin-top:4%;
    text-align: left;
    margin-left: 3.9%;
}

.q4{
    display: flex;
    margin-top: 4%;
}
.q4a{
    font-size: 25px;
    font-weight: bolder;
    color:white;
}
.q4a:hover{
    color:#0088a9;
}
.r{
    display: flex;
    justify-content: space-evenly;
    margin-top: 14%;
}
.r1{
    font-size: 55px;
    text-align: left;
}
.r2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
text-align: left;
}
.r2b{
    margin-top: 3.8%;
    
}
.r2d{
    font-size: 27px;
    color: black;

}
.r2d:hover{
    color: #0088a9;
}
.r2c{
    margin-top: 8%;
    margin-left: -69.5%;
}
.ss1{
    width: 337px;
    height: 220px;
 margin-left: -1%;
}
.s{
    display: flex;
    justify-content: space-between;
    margin-top: 180PX;
}
.s2{
    display: flex;
    background-color: black;
    width: 67.9%;
    justify-content:space-evenly;
    padding-top: 100px;
    padding-bottom: 100PX;
}
.s21{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: start;
}
.s22{
    display: flex;
    flex-direction: column;
    color: white;
}
.s1{
    background-color: black;
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
padding-left: 2%;
   
}
.s11{
    font-size: 50px;
    font-weight: bold;
}
.s12{
    font-size: 22px;
    margin-top:9%;
}
.s13{
    margin-top:10%;
}
.s14{
    font-size:27px;
    font-weight: bolder;
    color: white;
}
.s14:hover{
    color: rgb(219, 219, 219);
}
.ss{
   margin-left: -5; 
}
.t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.tt{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}
.t1{
    width: 85%;
    margin-left:5%;
}
.t2{
    font-size: 45px;
    padding: 5%;
}
.t3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4% 0 ;
    font-size: 20px;
}
.u{
    display: flex;
    justify-content: space-around;
    margin-top: 180px;
    margin-bottom: 150px;
}
.x{
        margin-top: 15%;
    }
   
.y{
    margin-top: 8%;
}